<div class="container mt-3">
    <h1>게시판 입니다.</h1>
    <div class="text-right mb-1">
        <a class="btn btn-outline-primary btn-sm" role="button" href="/posts/new">글 쓰기</a> <br>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Date</th>
          <th scope="col">Enter</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |p| %>
            <tr>
                <th scope="row"><%= p.id %></th>
                <td><%= p.title %></td>
                <td><%= p.body %></td>
                <td><%= p.created_at %></td>
                <td><a href="/posts/<%=p.id%>">Enter</a></td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>